.hidden {
    display: none;
}

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 2px black;
    border-radius: 5px;
    background-color: #FFE2BA;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

#dropcap:first-letter {
    float: left;
    font-size: 4em;
    font-weight: 400;
    margin-right: 6px;
  }

img {
    width: 346px;
    display: block;
    border-radius: 5px;
    margin: auto 8px;
}

.vertical {
    width: 158px;
    float: left;
}

.vertical-right {
    width: 158px;
    float: right;
}

p {
    margin-top: 58px;
    margin-bottom: 58px;
    line-height: 30px;
    font-weight: 100;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 3px 3px 3px orange, 5px 5px 0 3px black;
    font-weight: 400;
}